<md-content layout-fill layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Available Players</h2>
        </div>
    </md-toolbar>
    <md-content flex id="available-players-parent"
                ui-tree
                data-drag-delay="300"
                data-empty-placeholder-enabled="false">
        <div ui-tree-nodes
             ng-model="vm.players">
            <md-list infinite-scroll="vm.loadMore()"
                     infinite-scroll-disabled="vm.loading"
                     infinite-scroll-distance="1"
                     infinite-scroll-container="'#available-players-parent'">
                <md-list-item class="md-2-line"
                              ng-repeat="player in vm.players"
                              ui-tree-node
                              ng-click="vm.getPlayer(player)">
                    <img alt="{{player.firstName}} {{player.lastName}}"
                         ng-src="http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/{{player.esbid}}.png"
                         class="md-avatar" />
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ player.rank }}) {{player.firstName}} {{player.lastName}}</h3>
                        <p>{{player.position}} - {{player.teamAbbr}}</p>
                    </div>
                    <md-button ng-click="vm.watchPlayer(player, $event)"
                               class="md-icon-button">
                      <md-icon>visibility</md-icon>
                      <md-tooltip>Watch Player</md-tooltip>
                    </md-button>
                    <md-button ng-click="vm.selectPlayer(player, $event)"
                               class="md-icon-button">
                      <md-icon>check</md-icon>
                      <md-tooltip>Draft Player</md-tooltip>
                    </md-button>
                </md-list-item>
                <div ng-show="vm.loading"><md-progress-circular md-mode="indeterminate"></md-progress-circular></div>
            </md-list>
        </div>
    </md-content>
</md-content>