<md-content layout-fill layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-flex" ng-bind="vm.listTitle || 'Players'"></h2>
    </div>
  </md-toolbar>
  <md-content flex
              scroll-glue
              ui-tree
              data-drag-delay="300">
    <div ui-tree-nodes
         ng-model="vm.players">
      <md-list>
        <md-list-item class="md-2-line"
                      ng-repeat="player in vm.players"
                      ui-tree-node
                      ng-click="vm.showDetails(player)">
          <img alt="{{player.firstName}} {{player.lastName}}"
               ng-src="http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/{{player.esbid}}.png"
               class="md-avatar" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ vm.useRank ? '' : (($index + 1) + ') ') }}{{player.firstName}} {{player.lastName}} <span>Rank: {{ player.rank }}</span></h3>
            <p>{{player.position}} - {{player.teamAbbr}} | Bye: {{player.details.byeWeek}}</p>
          </div>
          <md-button ng-if="vm.onPlayerRemove"
                     ng-click="vm.removePlayer(player, $event)"
                     class="md-icon-button">
            <md-icon>close</md-icon>
            <md-tooltip>Remove Player</md-tooltip>
          </md-button>
          <md-button ng-if="vm.onPlayerDraft"
                     ng-click="vm.draftPlayer(player, $event)"
                     class="md-icon-button">
            <md-icon>check</md-icon>
            <md-tooltip>Draft Player</md-tooltip>
          </md-button>
        </md-list-item>
      </md-list>
    </div>
  </md-content>
</md-content>