<navbar></navbar>
<main>
  <md-content flex id="content">
    <md-card>
      <md-card-content>
        <h2 class="md-title">Top 50 Players</h2>
        <md-whiteframe class="md-whiteframe-4dp" layout ng-if="vm.currentPlayer">
          <md-toolbar class="md-tall md-accent">
            <span flex></span>
            <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
              <img width="64" height="64" alt="#{{vm.currentPlayer.jerseyNumber}} {{vm.currentPlayer.name}}"
                   ng-src="http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/{{vm.currentPlayer.esbid}}.png"
                   class="md-avatar" />
              <span>#{{vm.currentPlayer.jerseyNumber}} {{vm.currentPlayer.name}}</span>
            </h2>
          </md-toolbar>
        </md-whiteframe>
        <md-list>
          <md-subheader class="md-no-sticky">Top Fantasy Players 2015</md-subheader>
          <md-list-item class="md-2-line" ng-repeat="player in vm.players" ng-click="vm.getPlayer(player)">
            <img alt="{{player.firstName}} {{player.lastName}}"
                 ng-src="http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/{{player.esbid}}.png"
                 class="md-avatar" />
            <div class="md-list-item-text" layout="column">
              <h3>{{ player.rank }}) {{player.firstName}} {{player.lastName}}</h3>
              <p>{{player.position}} - {{player.teamAbbr}}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </div>
    </md-card>
  </md-content>
</main>
