@import '../../../common/common'
.current-player-sheet
  padding-top 0
  padding-left 0
  padding-right 0
.current-player
  .position-status
    font-size 16px
    color $accentColor
    margin-left 5px
    span
      color $warnColor
  md-grid-tile
    background-size cover
    background-position center
    cursor pointer
    .material-icons
      position absolute
      font-size 36px
      color rgba(255, 255, 255, 0.75)
      top calc(50% - 18px)
      left calc(50% - 18px)